/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS variables */
:root {
  --primary-font: "Lexend", sans-serif;
  --secondary-font: "Montserrat", Georgia;
  --primary-color: #621ce3;
}

/* Global styles */
body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
}

.bold {
  font-weight: 700;
}

/* Navbar */
#navbar {
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
  font-weight: 600;
}

#navbar .logo {
  width: 30px;
}

/* Hero section */
#hero {
  background: url("../images/hero-image.webp") no-repeat center center/cover;
}

#cover-text {
  max-width: 600px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  color: white;
  font-family: var(--secondary-font);
}

/* Common issues */
#common-issues .card {
  margin-bottom: 1.5rem;
}

#common-issues .card-img-top {
  height: 150px; /* or any desired height */
  object-fit: cover;
}

/* Footer */
#contact {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0;
}

#contact .social-links i {
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
}

/* Media queries */
/* Medium devices (tablets, 768px+) */
@media screen and (min-width: 768px) {
  /* Make all cards same height */
  #common-issues .card-body {
    min-height: 170px;
  }
}
/* xl devices (large desktops, 1200px+) */
@media screen and (min-width: 1200px) {
  /* Make all cards same height */
  #common-issues .card-body {
    min-height: 250px;
  }
}
